@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inconsolata' , monospace;
    background-color:#333 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#part1{
    padding: 5rem;
    display: flex;
    justify-content: center;
}
#part1 a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    color: #03e9f4;
    font-size: 24px;
    border: 1px solid #333;
    border-radius: 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
}

#part1 a:hover {
    background:#F05D5E;
    color: #050801;
    box-shadow: 0 0 5px #F05D5E,
                0 0 25px #F05D5E,
                0 0 50px #F05D5E,
                0 0 200px #F05D5E;
}

#part2 {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    transform: translateX(-100vw);
    transition: transform 1s ease-in-out 0.5s;
}

#part2 li{
    text-decoration: none;
    list-style: none;
    padding: 40px;
}